<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Custom_Chat_Box.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Custom_Chat_Box.Properties.Settings>
            <setting name="IgnoredUsers" serializeAs="String">
                <value />
            </setting>
            <setting name="TransitionSpeed" serializeAs="String">
                <value>Medium</value>
            </setting>
            <setting name="TransitionType" serializeAs="String">
                <value>Fade-in</value>
            </setting>
            <setting name="ChatBoxNum" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="ContentXY" serializeAs="String">
                <value>40, 144</value>
            </setting>
            <setting name="UserXY" serializeAs="String">
                <value>180, 37</value>
            </setting>
            <setting name="MaxContentChars" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MaxUserChars" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ContentFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UserFontSize" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChatNum" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OAuth" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="TwitchName" serializeAs="String">
                <value>Empty</value>
            </setting>
            <setting name="StartPosition" serializeAs="String">
                <value>TopLeft</value>
            </setting>
            <setting name="UserSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ContentSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Custom_Chat_Box.Properties.Settings>
    </userSettings>
</configuration>